<form action="/book_reviews/<%= @book_review.id %>" method="POST">
   <input type="hidden" name="_method" value="patch">

   <label for="title">Title:</label>
  <input type="text" name="title" id="title" value="<%=@book_review.title %>">
  <br><br>

  <label for="image">Image:</label>
  <input type="text" name="image" id="image" value="<%=@book_review.image %>">
   <br><br>

   <label for="content">Content: </label><br>
  <textarea name="content" id="content" rows="5" cols="33"><%= @book_review.content %></textarea>

  <input type="submit" value="Edit Book Review" id="submit">
</form>
<p><a href="/book_reviews">Go to Book Reviews Home Page</a></p>