<h3 class="title">Book Reviews</h3>
<div >
<% @book_reviews.each do |book_review| %>
    <div class="reviews">
      <h4><a href="/book_reviews/<%=book_review.id %>"><%= book_review.title %></a></h4>

  

      <h4>By <%= book_review.user.username %> </h4>
      <h5><%= book_review.created_at_stamp %></h5>
    </div>
<% end %>
</div>

<p class="review-link"><a href="/book_reviews/new"><button type="button" class="btn btn-info">Click here to add a New Book Review</button></a>
