
<div class ="row" >
  
  <div id="signup">
  <h3 style="text-align:center;">Fill the form to Sign Up</h3>
  <form action="/signup" method="POST">
    <div class="form-group">
     <label for="name">Name: </label>
     <input type="text" class="form-control" name="username" placeholder="Name" id="name">
    
   </div>
   <div class="form-group">
     <label for="email">Email: </label>
     <input type="text" class="form-control" name="email" placeholder="Email" id="email">
   </div>
   <div class="form-group">
     <label for="pass">Password: </label>
     <input type="password" class="form-control" name="password" placeholder="Password" id="pass">

   </div>
   <button type="submit" class="btn btn-primary">Sign Up</button>
  </form>
 </div>
</div>