<div class="container">
  <header></header>
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome To Book Reviews</h2>

    <div class="content">
    <p>This is a website where you can submit book reviews. All you have to do is sign up and start reviewing your favorite books.</p>
    <a href="/signup">Sign Up</a>
    <br>
    <a href="/login">Log In</a>
    </div>

    

  </div>
</div>
