<div class="container" id="welcome">
  
  <div class="col-md-8 col-md-offset-2" id="welcome">
    <h2>Welcome To Book Reviews</h2>

    <div class="content">
    <p>This is a website where you can submit book reviews. All you have to do is sign up and start reviewing your favorite books. And maybe, you will find something interesting to read by browsing this website.....</p>

      <p>and get transported to magical worlds or faraway places and learn about, places, people of different cultures & cuisines.</p>
      
      <p>So, grab a book, relax and have fun!</p>

      <h2>Links to Online Bookstores</h2>
      <ul class="links">
        <li><a href="https//www.amazon.com">Amazon</a> </li>
        <li><a href="https//www.barnesandnoble.com">Barnes and Noble</a></li>
        <li><a href="https//www.bookpeople.com">Book People</a></li>
        
      </ul>
   
    </div>

    

  </div>
</div>
